@charset "UTF-8";
<style>
      .body-head{
          height: 200px;
      }
      .body-body{
          /* height: 100px; */
          
      }
      .body-foot{
          /* border: 1px solid red; */
          height: 60px;
          line-height: 60px;
          text-align: center;
          color: white;
      }
      img{
          height: 250px;
          align-content: center;
          width: 1000px;
      }
      .foot-font{
          font-size: 20px;
          color: white;
      }
      .nav-top{
        padding-top: 3.5rem!important;
      }
      /* .foot-div{
          border: 1px solid white;
          padding-top: 1.2rem!important;
      } */
      .body-body *{
          /* border: 1px solid black; */
      }
      .body-body > span{
          margin-left: 50px;
      }
      .span3{
          line-height: 50px;
      }
      .row{
          height: 210px;
      }
      
      
  </style>