@charset "UTF-8";
<style>
      .body-head{
          height: 200px;
      }
      body::before{
         display: block; 
         content: "";
         height: 56px;
      }
      .body-body{
          /* height: 100px; */
          
      }
      .body-foot{
          /* border: 1px solid red; */
          height: 60px;
          line-height: 60px;
          text-align: center;
          color: white;
      }
      img{
          height: 300px;
          align-content: center;
          width: 1000px;
      }
      .foot-font{
          font-size: 20px;
          color: white;
      }
      .nav-top{
        padding-top: 3.5rem!important;
      }
      /* .foot-div{
          border: 1px solid white;
          padding-top: 1.2rem!important;
      } */
      .body-body *{
          /* border: 1px solid black; */
      }
      .body-body > span{
          margin-left: 50px;
      }
      .span3{
          line-height: 50px;
      }
      .row{
          /* height: 210px; */
      }
      .attribute-img{
          height: 340px;
      }
      .attribute-img  img{
          /* border: 1px solid blue; */
      }
      .attribute-img div{
          text-align: center;
      }
      .attribute-img span{
          font-size: 30px;
      }
      .Sequence-name{
          font-size: 15px;
          color:blue;
          font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
          /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
      }
      .Sequence-attribute{
          color: darkgray;
          font-size: 10px;
      }
      .th-css{
          text-align: center;
      }
      .attribute-css{
          /* color: red; */
          text-align: center;
      }
      .test-result-red{
          color: red;
      }
	  #norm-pre{
		 padding-left: 33px;
		}
      .test-result-blue{
        color: blue;
    }
    .test-result-green{
        color: rgb(6, 248, 6);;
    }
    .attribute-table-red{
        color: red;
    }
    .attribute-table-green{
        color: rgb(6, 248, 6);
    }
    .attribute-table-blue{
        color: blue;
    }
    .BoundingLine-HiFt{
        border-bottom: 2px solid black;
    }
    .BoundingLine-Thead{
        border-top: 2px solid black;
    }
    .lun-picture{
        font-size: 10px;
    }
    /* 测试github上传相同文件是否会覆盖原来内容 */
    h1{
        font-family:'Times New Roman', Times, serif;
        /* color: rgb(98, 0, 255); */
        
    }
    .dropdown-item{
        font-family: 'Times New Roman', Times, serif;
        color:royalblue;
    }
	
  </style>
